name: Sync upstream
 
on:
  schedule:
    - cron: '30 0 7 * *'
 
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: main
      - name: Configure git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      - name: Add upstream repo
        run: git remote add upstream https://github.com/xixu-me/xget.git
      - name: Fetch upstream
        run: git fetch upstream
      - name: Merge upstream
        run: git merge upstream/main --allow-unrelated-histories
      - name: Push changes
        run: git push origin main
